<div class="landing-body">
  <%= render partial: 'layouts/topnav' %>
  <div class="landing-container">
      <div class="landing-content">
        <h1 class="main-header">Study Better</h1>
        <p class="introduction">
          We've designed a tool to improve the quality of your studying.
          Using techniques from cognitive science research, we designed this tool to help you
          remember material better for tests! <br><br>
          We're dedicated to improving the tool as new techniques and insights come out. <br>
          Best of all, it's free!
        </p>
      </div>
  </div>
  <div class="footer">
    Copyright 2017
  </div>
</div>
