@import 'variables';
.landing-container {
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 10% auto 10%;
}
.landing-content {
  align-self: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.main-header {
  border-bottom: 1px $white solid;
  padding: 4rem 0;
  text-align: center;
}
.main-header h1 {
  font-size: 2.75rem;
}

.introduction {
  font-size: 1.5rem;
}
