@import "variables";

.top-nav {
  border-bottom: 2px $white solid;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}

.session-button {
  display: block;
  font-size: 1.5rem;
  padding: .75rem;
}

.session-link {
  text-decoration: none;
  color: $grey;
}
.session-link:hover {
  border-bottom: 2px $orange solid;
}
