<div class="top-nav">
  <div class="session-button register">
    <a href="#" class="session-link">Register</a>
  </div>
   <div class="session-button sign-in">
      <a href="#" class="session-link">Sign In</a>
   </div>
   <!-- <div class="sign-out">

   </div> -->
</div>
